.myBloc {
    background-color: #f1ece7;
    height: 100vh;
}

.aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin-left: 50px;
}

.img img {
    height: 380px;
    max-width: 340px;
    width: 100%;
}

@media (max-width: 732px) {
    .aboutMe {
        flex-direction: column;
    }

    .info {
        margin-left: 0px;
        order: 1;
    }
}