.navBloc {
    display: flex;
    justify-content: right;
    width: 100%;
}

.items {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 576px) {
    .navBloc {
        justify-content: center;
    }

    .items {
        
        padding-left: 0;
    }
}